.footer {
  background: var(--general-background-color);
  max-width: 100%;
  margin: 0 auto;
}


.footer__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
  color: var(--general-text-gray-color);
}

.footer__box-midle {
  display: flex;
  gap: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.8px;
  color: var(--general-text-gray-color);
}

.footer__box-midle a {
  color: var(--general-border-color);
}

.footer__box-end a {
  color: var(--general-border-color);
}

.footer__box-logo {
  padding: 4px 0;
}

.footer__box-end {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.8px;
}

@media (max-width: 1240px) {
  .footer__box {
    padding: 20px 20px;
  }
}

@media (max-width: 720px) {
  .footer__box-midle {
    gap: 0px;
    line-height: 0.8px;
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .footer__box {
    padding: 12px 20px;
    align-items: center;
  }

  .footer__box-logo {
    display: none;
  }
}