.footer{
  background: rgba(24, 24, 24, 1);
  max-width: 1400px;
  height: 100px;
  margin: 0 auto;
}


.footer__box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
  color: rgba(118, 119, 126, 1);
}

.footer__box-midle{
  display: flex;
  gap: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.8px;
  color: rgba(118, 119, 126, 1);
}

.footer__box-midle a{

  color: rgba(84, 85, 90, 1);
}

.footer__box-end a{

  color: rgba(84, 85, 90, 1);
}

.footer__box-logo{
  padding: 4px 0;
}

.footer__box-end{
  font-size: 16px;
  font-weight: 400;
  line-height: 22.8px;
}

@media (max-width: 1240px){
  .footer__box{
    padding: 20px 20px;
  }
}

@media (max-width: 720px){
  .footer__box-midle {
    gap: 0px;
    line-height: 0.8px;
    flex-direction: column;
  }
}

@media (max-width: 400px){
  .footer__box {
    padding: 12px 20px;
    align-items: center;
  } 
  .footer__box-logo {
    display: none;
}
}