:root {

  --general-hover-color: #2947A9;
  --general-border-color: rgba(84, 85, 90, 1);
  --general-background-color: rgba(24, 24, 24, 1);
  --general-text-gray-color: rgba(118, 119, 126, 1);
}

/* color: var(--general-text-gray-color); */

.container_stripe,
.container_stripe-black {
  position: relative;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.container_stripe_first,
.container_stripe_first-black,
.container_stripe_lust,
.container_stripe_lust-black {
  width: 33%;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 0;
}

.container_stripe_lust,
.container_stripe_lust-black {
  width: 67%;
}

.container_stripe-black {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.container_stripe_first-black {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.container_stripe_lust-black {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.head-unitary {
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
}

.inner-unitary {
  padding: 80px 0 100px;
}

.head-text-unitary {
  font-size: 30px;
  font-weight: 400;
}

@media (max-width: 1240px) {
  .inner-unitary {
    padding: 70px 20px 100px 20px;
  }
}

@media (max-width: 520px) {
  .head-unitary {
    justify-content: center;
  }
}